body {
    width: 70%;
    margin: auto;
    height: 100%;
}

.wholepage {
    display: grid;
    grid-template-columns: 1fr 5fr;
}



.wholepage .rightside {
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.header {
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.header .top, .header .bottom{
    display: flex;
    justify-content: space-between;
}



.maincontent {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(236, 236, 236);
}

.leftside {
    padding: 20px;
}

.cardsTitle {
    grid-row: 1/2;
}

.maincontent .cards {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.card {
    background-color: white;
    padding-bottom: 20px;
}

.maincontent .rightside {
    display: grid;
    grid-column: 2/3;
    grid-template-rows: 1fr 4fr 1fr 4fr;
    padding-bottom: 20px;
}

.maincontent .rightside .announcements {
    grid-row: 1/2;
    padding-top: 20px;
}

.maincontent .rightside .trending {
    grid-row: 3/4;
}



.sidebar {
    display: grid;
    grid-template-rows: 1fr 4fr 5fr;
    background-color:rgb(20, 141, 255);
    color: white;
}

.navitem {
    padding: 5px 0;
}

.sidebar img {
    width:20px;
    height:20px;
    padding: 0 5px;
}

.announcementsBox, .trendingBox {
    background: white;
    
}


.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  





