.wholepage {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap:10px;
}



.wholepage .rightside {
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.header {
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.header .top, .header .bottom{
    display: flex;
}

.maincontent {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.maincontent .cards {
    grid-column: 1/2;
}

.maincontent .rightside {
    display: grid;
    grid-column: 2/3;
    grid-template-rows: 1fr 1fr;
}

.maincontent .rightside .announcements {
    grid-row: 1/2;
}

.maincontent .rightside .trending {
    grid-row: 2/3;
}



.sidebar {
    display: grid;
    grid-template-rows: 1fr 4fr 5fr;
}










